<html>
  <head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="/bootstrap.min.css">

	<script defer src="/js/index.bundle.js"></script>
	<script defer src="/bootstrap.bundle.min.js"></script>
	<title>Image Server</title>
  </head>
  <body></body>
</html>
