<html>
  <head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="/bootstrap.min.css">
	<script src="/bootstrap.bundle.min.js"></script>
	<script defer src="/js/post.bundle.js"></script>
  </head>
  <body></body>
</html>
