.error {
  color: red;
}
h3 {
  border-bottom: solid 3px #cce4ff;
  position: relative;
}

h3:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #5472cd;
  bottom: -3px;
  width: 20%;
}
figure {
    display: inline-block;
    margin: 0px 3px 7px 0px;
    background-color: #ccc;
	padding: 3px;
}
figure img {
    display: block;
    margin: 0px 0px 3px 0px;
}
figcaption {
    font-size: 0.9em;
    text-align: left;
}
div.imagearea:after {
    content: "";
    clear: both;
    display: block;
}
.result {
  background-color: skyblue;
}
